.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5em;
}

.search > input {
  min-width: 20em;
  border-radius: 5px;
}

/*~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~*/

/* ~~~~~~~~~~~1235px~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 1235px) {
  .search > input {
    min-width: 15em;
    border-radius: 5px;
  }
}

/* ~~~~~~~~~~~530px~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 530px) {
  .search {
    margin-top: 0;
  }
  .search > input {
    min-width: 90vw;
  }
}
