header {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 7em;
  background-color: rgb(255, 232, 221);
}

header > div {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  display: flex;
  margin-left: 3em;
  width: 50em;
  align-items: center;
}

.logo-container > h1 {
  margin: .5em;
}

/* .header-left {
}
.header-middle {
}
.header-right {
} */

.logo {
  width: 5em;
  object-fit: contain;
}

.basket-container {
  width: 4em;
  object-fit: contain;
}

.nav-btn {
  width: 15em;
}

.notification-icon--fixed {
  position: relative;
  top: 16px;
  left: 23px;
  color: #fff;
  background-color: #ff0055;
  border-radius: 50%;
  line-height: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.notification-icon--fixed::after {
  /* position: absolute; */
  content: "";
  display: block;
  padding-bottom: 100%;
  z-index: 2;
}
