header {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 7em;
  background-color: rgb(255, 232, 221);
}

header > div {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-left {
  width: 25%;
}
.header-middle {
  width: 50%;
}
.header-right {
  width: 25%;
}

.logo {
  width: 5em;
  object-fit: contain;
}

.basket {
  width: 3.5em;
  object-fit: contain;
}

.nav-btn {
  width: 15em;
}

.notification-icon--fixed {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  color: #fff;
  background-color: #ff0055;
  border-radius: 50%;
  line-height: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.notification-icon--fixed::after {
  /* position: absolute; */
  content: "";
  display: block;
  padding-bottom: 100%;
  z-index: 2;
}
