footer {
  display: flex;
  width: 100%;
  height: 6em;
  background-color: rgb(255, 232, 221);
  align-items: center;
  justify-content: center;
}

a > img {
  margin: 0em .5em 0em .5em;
  display: inline;
  height: 1.5em;
}

/*~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~*/

/* ~~~~~~~~~~~~530px~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 530px) {
  footer {
    display: flex;
    justify-content: space-evenly;
  }
  .footer-text {
    font-size: 1em;
  }
}